
h1{
    text-align: center;
}

nav{
    height: 50px;
}

nav button{
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 28px;
    padding: 5px 10px;
    margin-right: 50px;
}