html{
    width: 100vw;
}

body{
    width: 100%;
}
h1{
    font-size: 50px;
    font-weight: 500;
    margin: 50px;
    text-align: center;
}

nav{
    background-color: rgba(200, 199, 199, 0.233);
    width: 100vw;
    height: 90px;
}

nav button{
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 28px;
    padding: 10px 15px;
    margin-right: 50px;
}

.removeTag {
    cursor: pointer;
}